.glitch-effect {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  .glitch-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
    transition: all 0.5s ease-in-out;
    :nth-child(2) {
      transition: all 0.5s ease-in-out;
    }
  }
  .glitch-thumb:first-child {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translatex(50%) scalex(2);
    opacity: 0;
    filter: blur(10px);
    img {
      transform: scale(1);
      transition: all 0.5s ease-in-out;
    }
  }
  &:hover {
    .glitch-thumb:first-child {
      transform: translatex(0) scalex(1);
      opacity: 1;
      filter: blur(0);
    }
    .glitch-thumb:nth-child(2) {
      transform: translatex(-50%) scalex(2);
      opacity: 0;
      filter: blur(10px);
    }
  }
}
